.container {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px #000;
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem;
}
.container {
  background: rgb(238, 238, 238);
  background: linear-gradient(
    180deg,
    rgba(238, 238, 238, 1) 45%,
    rgba(178, 188, 201, 1) 55%
  );
}

.title {
  justify-content: center;
  display: flex;
}
.title2 {
  text-decoration: none;
}
.img {
  height: 10rem;
  width: 10rem;
}

.type2 {
  text-align: center;
  display: flex;
  justify-content: center;
}
