.totalcontainer{   
    width: 100%;
    height: 100%;
    display: flex;    
    flex-flow:row wrap;
    justify-content: space-evenly;
    align-items: center;   
    
}

.container{   
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 30px 30px 50px;
    background-color: rgba(207, 205, 195, 0.6);  
    border-radius: 10px;  
    box-shadow:0 5px 10px #000;
    color:black ;
    text-shadow: 0px 1px 18px rgba(42, 60, 107,.97 )
    
}
.container h1{
    margin: 30px;
}
.container input{    
    margin: 10px;  
    border-radius: 3px;
    background-color:rgba(207, 205, 195, 0.6) ;
}
.container label{
    font-weight: bold;
}
.container p{
    color: red;
    text-shadow: 0px 1px 18px rgba(42, 60, 107,.97 );
    font-weight: bold;
}




.typeButtons{  
    background-color: rgba(42, 60, 107, 0.6);
    height: 600px; 
    width: 500px; 
    margin: 10px;
    padding: 30px 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    flex-direction: row;   
    justify-content:center;
    align-items: center;    
    border-radius: 10px;  
    box-shadow:0 5px 10px #000;
}
.typeButtons1{
  text-shadow: 0px 1px 18px rgba(207, 205, 195,.97 );
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.typeButtons input{
    background-color: #cfcdc3;
    color: #2a3c6b;    
    text-align: center;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 30px ;
    box-shadow: 0 5px 10px #000;
}

.typeButtons input:hover{
    background-color: #4e576d86;
    cursor: pointer;
}

.typeButtons p{
    color: red;
    text-shadow: 0px 1px 18px rgba(42, 60, 107,.97 );
    font-weight: bold;
    grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 9;
}

.button{    
    width: 30%;
    letter-spacing: 3px;
    border-radius: 5px;
    height: 30px;
    color:#cfcdc3 ;
    font-weight: 700;   
    background-color:#2a3c6b ;
    margin: 40px 40px;
    text-align: center;
}
.button:hover{
    background-color: #cfcdc3;
    cursor: pointer;
    color: #2a3c6b ;
}
.typeSelect{
    grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 10;
  grid-row-end: 10;
}
#0{  
    background-color: #2a3c6b;
    color: #cfcdc3;    
    text-align: center;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 30px ;
    box-shadow: 0 5px 10px #000;    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 10;
    
}
#1{
    background-color: #2a3c6b;
    color: #cfcdc3;    
    text-align: center;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 30px ;
    box-shadow: 0 5px 10px #000; 
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 10;
}