.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.container2 {
  width: 30rem;
  height: 40rem;
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(207, 205, 195, 0.6);
  margin: 2rem;
  border-radius: 10px;
}
.title {  
  color: rgba(42, 60, 107, 1);
  text-align: center;
  text-shadow: 0px 0px 10px rgba(134, 135, 161, 0.9);
  font-size: 2.5rem;
}

.image {
  height: 26rem;
  width: 26rem;
}

.container3 {
  width: 30rem;
  height: 40rem;
  padding: 2rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(207, 205, 195, 1) 20%,
    rgba(42, 60, 107, 1) 70%
  );
  border-radius: 10px;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.4);
}
.container3 * {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(5, 33, 57);
  font-weight: 500;
}
.container3 h2 {
  text-shadow: 0px 0px 10px rgba(207, 205, 195, 0.9);
  letter-spacing: 2px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.detailing {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}


.detailing h3 {
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgba(42, 60, 107, 1) 10%,
    rgba(207, 205, 195, 1) 60%
  );
  border-radius: 5px;
  width: 100%;
  color: rgb(23, 34, 62);
  margin-top: .35rem;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.4);
}

.exit {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
}
.exit button {
  width: 15rem;
  letter-spacing: 3px;
  border-radius: 5px;
  height: 30px;
  color: #cfcdc3;
  font-weight: 700;

  background-color: #2a3c6b;
}
.exit button:hover {
  cursor: pointer;
  background-color: #cfcdc3;
  color: #2a3c6b;
}

@media (max-width: 1024px){
    .box{
        grid-template-columns: 1fr;
        
    }
}

@media (max-width: 600px){
    .container2{
        width: 18rem;
        height: 28rem;
        padding: 1rem;
        margin: 1rem;
    }
    .title {       
        font-size: 1.5rem;
      }
    .image {
        height: 18rem;
        width: 18rem;
      }

    .container3{
        width: 18rem;
        height: 28rem;
        padding: 1rem;
        margin: 1rem;
    }
    .container3 h2{
        font-size: 1.5rem;
    }
    .detailing h3 {        
        font-size: 1rem;       
        margin-top: .1rem;
       
      }
}