.container{
    display: flex;
    justify-content: center;    
    flex-direction: row;
    align-items: center;
    
}
.input{
       height: 25px;
       width: 50%;
       border-radius: 5px;
       font-weight: bolder;
}
.input2{
padding-left: 8px;
width: 10%;

}