.container{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
}

.btn{
background-color: rgb(42, 60, 107 , .7);
color: rgb(207, 205, 195);
height: 30px;
width: 30px;
margin: 0 5px;
border-radius: 5px;
font-weight: bold;
}
.active{
    color:rgba(42,60,107,1);
    cursor: pointer;
    background:rgba(207,205,195 , .7);
    height: 30px;
    width: 30px;
    margin: 0 5px;
    border-radius: 5px;
    font-weight: bold;
}

.btn_pn{
    background-color: rgb(42, 60, 107 , .7);
    color: rgb(207, 205, 195);
    height: 30px;
    width: 40px;
    margin: 0 5px;
    border-radius: 5px;
    font-weight: bold;
    }

.btn_pn:hover{
    cursor: pointer;
}

/* .container button{
    height: 30px;
    width: 30px;
    background:linear-gradient(90deg, rgba(134,135,161,1) 20%, rgba(42,60,107,1) 50%, rgba(207,205,195,1) 80%); ;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    color: #f3f3f3;
    box-shadow: 2px 2px 10px rgba(207,205,195, 1.8);
    
} */


.btn:hover{    
    color:rgba(12,32,59,1);
    cursor: pointer;
    background:rgba(207,205,195) ;
}