
.container{   
    width: 100%; 
    height: 100%;
    display: flex;       
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
      

background: linear-gradient(90deg, rgba(42,60,107,1) 0%, rgba(207,205,195,1) 50%, rgba(134,135,161,1) 100%);
}
.area1{ 
   width: 33%;
   display: flex;       
   flex-flow:row wrap;
   justify-content: center;
   align-items: center;
}
.area2{
    width: 33%;
    display: flex;       
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
}
.area3{
    width: 33%;
    display: flex;       
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
}
.logo{      
    width: 30%;
    padding: 30px;
}
.h2{      
    color: #fff;
    font-size: 30px;
    padding: 30px;
    text-shadow: 0 0 15px rgb(42,60,107) ;    
}